@use '@styles/abstracts/mixins';
@use '@styles/abstracts/placeholders';

$iconWidth: 2.2rem;
$iconWidthTablet: 2.8rem;
$borderRadius: 1.5rem;

.basketBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  z-index: 50;
  backdrop-filter: blur(5px);
  border-top-left-radius: var(--mui-shape-borderRadius);
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: $borderRadius;
  cursor: copy;
  @extend %animation;

  @include mixins.mediaHover {
    &:hover > .basketIcon {
      opacity: 1;
    }
  }

  @include mixins.media-tablet {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    border-top-left-radius: $borderRadius;
    border-bottom-right-radius: var(--mui-shape-borderRadius);
    padding: 1rem;
  }

  &.activeIcon {
    background-color: var(--mui-palette-Switch-primaryDisabledColor);

    & .basketIcon {
      opacity: 1;
    }
  }
}

.basketIcon {
  opacity: 0.5;
  font-size: $iconWidth;
  @extend %animation;

  @include mixins.media-tablet {
    font-size: $iconWidthTablet;
  }
}

.progress {
  position: absolute;
  width: $iconWidth !important;
  height: $iconWidth !important;
  opacity: 0;
  @extend %animation;

  @include mixins.media-tablet {
    width: $iconWidthTablet !important;
    height: $iconWidthTablet !important;
  }

  &.activeProgress {
    opacity: 1;
  }
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
