.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--mui-palette-text-primary);
  gap: 0.5rem;
}

.colorBtn {
  border-radius: 100%;
  padding: 2.2rem;
  border: 3px solid rgb(215, 215, 215);

  &.active {
    border: 3px solid var(--mui-palette-primary-main);
  }
}

.text {
  font-size: 1.5rem;
  font-weight: 500;
}
