@use '@styles/abstracts/mixins';

.pageContainer {
  margin-top: -2rem;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.catalogContainer {
  display: flex;
  gap: 1.5rem;
}

.breadcrumbBtn {
  @include mixins.media-tablet {
    font-size: 1.5rem;
    padding-inline: 0;
  }
}
