.header {
  box-shadow: 0.5;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding-block: 1.6rem;
}

.columnContainer {
  display: flex;
  gap: 4rem;
}

.burgerMenu {
  padding: 3rem;
}
