@use '@styles/abstracts/mixins';
@use '@styles/abstracts/placeholders';

.container {
  position: relative;
}

.skeleton {
  position: absolute;
  background-color: var(--mui-palette-common-background);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  @include mixins.animation($time: 0.15s);

  &.disabled {
    opacity: 0;
    visibility: hidden;
  }
}
.childrenContainer {
  @extend %animation;
  width: 100%;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
