@use '@styles/abstracts/mixins';

.carousel {
  position: relative;
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  z-index: 1000;

  @include mixins.media-tablet {
    top: auto;
    bottom: -10%;
  }
}

.leftArrow {
  left: 0;
  transform: translate(-15%, -50%);
}

.rightArrow {
  right: 0;
  transform: translate(15%, -50%);
}
