.carousel {
  position: relative;
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  z-index: 1000;
}

.leftArrow {
  right: 0;
  transform: translate(10%, 0);
}

.rightArrow {
  left: 0;
  transform: translate(-10%, 0);
}

.dotsContainer {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  // Todo draggable
  overflow-y: auto;

  & li {
    text-decoration: none;
    list-style: none;
  }
}
