$width-laptop-big: 1300px;
$width-laptop: 1024px;
$width-tablet: 768px;
$width-mobile: 375px;

:root {
  --color-primary-transparent: color-mix(in srgb, var(--mui-palette-primary-light), transparent 95%);
}

.bdoy {
  color: 'Midnight Blue';
}
