.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.btnContainer {
  display: flex;
}

.button {
  flex: 1;
  text-wrap: nowrap;
  text-transform: none;
  background-color: var(--mui-palette-Alert-infoColor);
}

.image {
  display: block;
  width: 100%;
  max-width: 500px;
}
