.subAccordionWrapper {
  padding-left: 0.2rem;
}

.pointerEventsOn {
  pointer-events: all;
}

.pointerEventsOff {
  pointer-events: none;
}

.btn {
  width: 100%;
  text-transform: none;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.accordionActive {
  background-color: var(--color-primary-transparent);
}
