@use '@styles/abstracts/mixins';

.productsContainer {
  width: 100%;
}

.productsHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  @include mixins.media-tablet {
    flex-direction: column;
    justify-content: initial;
    align-items: flex-start;
  }
}

.productWrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
