.productsContainer {
  width: 100%;
}

.productsHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.productWrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
