@use '@styles/abstracts/mixins';
@use '@styles/abstracts/constants';

.productsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block: 2rem;

  @include mixins.media(600px) {
    align-items: center;
  }
}

.header {
  position: relative;
}

.deleteProduct {
  position: absolute;
  top: 0;
  right: 0;
  width: min-content;
  z-index: 50;
  border-top-left-radius: 0;
  border-top-right-radius: var(--mui-shape-borderRadius);
  border-bottom-left-radius: constants.$borderRadius;
  border-bottom-right-radius: 0;
}
