@use '@styles/abstracts/mixins';
@use '@styles/abstracts/placeholders';

.img {
  height: 100%;
}

.img,
.imgWrapper {
  @extend %animation;
  border-radius: var(--mui-shape-borderRadius);
}

.imgWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.skeleton {
  position: absolute;
  background-color: var(--mui-palette-grey-200);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include mixins.animation($time: 0.1s);

  &.disabled {
    opacity: 0;
    visibility: hidden;
  }
}
