@use '@styles/abstracts/placeholders';

.img,
.imgWrapper {
  height: 100%;
  @extend %animation;
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  border-radius: var(--mui-shape-borderRadius);
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
