.btnContainer {
  display: flex;
  gap: 1rem;
}

.btn1 {
  flex: 1;

  &.active {
    flex: 10;
  }
}

.btn2 {
  color: var(--mui-palette-text-primary);
  text-transform: none;
  box-shadow: var(--mui-shadows-1);
  flex: 1;
}
