@use '@styles/abstracts/placeholders';
@use '@styles/abstracts/mixins';

.verticalButton {
  align-items: flex-start;
}

.buttons {
  @extend %no-text-transform;
  @extend %animation;
  border-radius: var(--mui-shape-borderRadius);

  @include mixins.mediaHover {
    &:hover {
      background-color: rgba(var(--mui-palette-primary-mainChannel) / var(--mui-palette-action-hoverOpacity));
    }
  }
}
