@use '@styles/abstracts/mixins';
@use '@styles/abstracts/placeholders';

.basketBtn {
  cursor: copy;
  backdrop-filter: blur(5px);
  @extend %animation;

  @include mixins.mediaHover {
    &:hover > .basketIcon {
      opacity: 1;
    }
  }

  &:disabled {
    background-color: var(--mui-palette-action-disabledBackground);
  }

  &.activeIcon {
    background-color: var(--mui-palette-Switch-primaryDisabledColor);

    @include mixins.mediaHover {
      &:hover {
        background-color: var(--mui-palette-primary-light);
      }
    }

    & .basketIcon {
      opacity: 1;
    }
  }
}

.basketIcon {
  opacity: 0.7;
  @extend %animation;
}

.progress {
  position: absolute;
  opacity: 0;
  @extend %animation;

  &.activeProgress {
    opacity: 1;
  }
}

.progressLinear {
  width: 50%;
  height: 5px;
  border-radius: var(--mui-shape-borderRadius);
}

.btnCasual {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.iconCasual {
  font-size: 2.5rem;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
