@use '@styles/abstracts/mixins';

.pageContainer,
.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.titleContainer {
  gap: 1.5rem;
  width: 400px;
  align-self: center;

  @include mixins.media(500px) {
    width: 100%;
  }
}

.title {
  text-align: center;
}
