@use '@styles/abstracts/mixins';

.imgContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--mui-shape-borderRadius);
  height: 300px;
  cursor: pointer;

  &:hover .img {
    transform: scale(1.1);
  }

  &Large {
    height: 80vh;
    @include mixins.media(1100px) {
      height: 60vh;
    }
    @include mixins.media-tablet {
      height: 40vh;
    }
    @include mixins.media(500px) {
      height: 30vh;
    }
  }
  &Medium {
    height: 300px;
  }
  &Small {
    height: 100px;
    width: 130px;
  }
}

.carousel {
  &Large {
    width: 100%;
  }
  &Medium {
    width: 65%;

    @include mixins.media-tablet {
      width: 100%;
    }
  }
  &Small {
    width: 130px;
  }
}

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include mixins.media-tablet {
    flex-direction: column-reverse;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.modalContainer,
.modalBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBody {
  background-color: var(--mui-palette-common-background);
  position: relative;
  width: 90%;
  height: 90%;
  padding: 1rem;
  border-radius: var(--mui-shape-borderRadius);

  @include mixins.media(1100px) {
    height: 70%;
  }
  @include mixins.media-tablet {
    height: 50%;
  }
  @include mixins.media(500) {
    height: 30vh;
  }
}

.modalClose {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: var(--mui-palette-primary-main);

  &:hover {
    background-color: var(--mui-palette-primary-light);
  }
}
