@use '@styles/abstracts/placeholders';
@use '@styles/abstracts/mixins';

$iconWidth: 2.2rem;
$iconWidthTablet: 2.8rem;
$borderRadius: 1.2rem;

.cardContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1.5rem;
  padding: 2rem;
  box-shadow: var(--mui-shadows-3);
  border-radius: var(--mui-shape-borderRadius);
  @extend %animation;

  @include mixins.media(600px) {
    flex-direction: column;
    max-width: 300px;
  }

  & .column1 {
    flex: 1;

    @include mixins.media-tablet {
      flex: 3;
    }
  }

  & .column2 {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include mixins.mediaHover {
    &:hover {
      box-shadow: var(--mui-shadows-7);

      .img {
        transform: scale(1.05);
      }
    }
  }
}

.discount {
  top: -1rem;
  left: -1rem;
}

.deleteProduct {
  position: absolute;
  top: 0;
  right: 0;
  width: min-content;
  z-index: 50;
  border-top-left-radius: 0;
  border-top-right-radius: var(--mui-shape-borderRadius);
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: 0;
}

.deleteIcon {
  font-size: $iconWidth;
  @include mixins.media-tablet {
    font-size: $iconWidthTablet;
  }
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}

.quantityInput {
  @include mixins.media(600px) {
    max-width: initial;

    & > input {
      padding: 0.7rem;
    }
  }
}
.quantityContainer {
  margin-top: 1rem;
  @include mixins.media(600px) {
    margin-block: 0.5rem 1.5rem;
  }
}
