.discountedPrice {
  background-color: var(--mui-palette-error-light);
  border-radius: var(--mui-shape-borderRadius);
}

.discountedPrice,
.price {
  padding-inline: 0.3rem;
}

.price {
  &Disabled {
    text-decoration: line-through;
  }
}
