html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  background-color: var(--color-background-body);

  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @extend %animation;
}

img {
  display: block;
  user-select: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}
