html {
  font-size: 10px;
}

img {
  width: 100%;
  display: block;
  user-select: none;
}

body {
  font-size: 1.6rem;
  @extend %animation;
  min-height: 100vh;
  background-color: var(--color-background-body);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
