@use '@styles/abstracts/mixins';

.sortContainer {
  min-width: 250px;

  & > fieldset {
    border: 0;
  }

  & > div {
    padding: 0.5rem;
  }

  @include mixins.media-tablet {
    min-width: 180px;
  }
}

.componentContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  font-weight: bold;
}

.menuItem,
.title,
.sortContainer {
  @include mixins.media-tablet {
    font-size: 1.8rem;
  }
}
