@use '@styles/abstracts/mixins';
@use '@styles/abstracts/placeholders';

.specialSection {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.paper {
  padding: 1.5rem;
}

.paper1 {
  color: white;
  background-color: var(--mui-palette-Alert-infoColor);
  flex: 2;
}

.paper2 {
  flex: 1;
  text-align: center;
  color: var(--mui-palette-Alert-warningColor);
  background-color: var(--mui-palette-warning-light);
  animation: pulse 5s infinite;
  @extend %animation;

  @include mixins.mediaHover {
    &:hover {
      animation: pulse 2s infinite;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
