/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--mui-palette-common-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-background-dark);
  border-radius: 4px;
}
